<div class="card shadow-sm" style="width: 18rem">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title" id="title">Titel</h5>
      <button class="text-danger bg-body border-0" id="delete-movie">
        &#128465;
      </button>
    </div>
    <h6 class="card-subtitle mb-2 text-muted"><span id="genre"></span> &middot; <span id="year"></span></h6>
    <p class="mb-1"><strong>Regisseur:</strong> <span id="director"></span></p>
    <p class="mb-2"><strong>Score:</strong> <span id="rating"></span></p>
    <button class="btn btn-primary w-100" id="watchlist-button">+ Kijklijst</button>
  </div>
</div>
