<div class="card col mb-4">
    <div class="card-body">
        <h5 class="card-title" id="name"></h5>
        <p class="card-text" id="types"></p>
        <p class="card-text" id="generation"></p>
        <p class="card-text" id="internationalNumber"></p>
        <button class="btn p-0 text-danger" id="deleteBtn" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                <title>Trashcan Icon</title>
                <path fill="currentColor" d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zm2-4h2V8H9zm4 0h2V8h-2z"/>
            </svg>
        </button>
      </div>
</div>