<div class="card col mb-4 author-card">
    <img class="card-img-top-background" id="authorImgBackground"  src="https://placehold.co/600x400?text=Author" alt="background">
    <img class="card-img-top" id="authorImg"  src="https://placehold.co/600x400?text=Author" alt="Card image cap">
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">Author Name</h5>
        <div class="card-text overflow-y-scroll flex-grow-1">
            [Author Name] is an author known for...
        </div>
    </div>
</div>