<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" data-link="/" href="/">Games</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" data-link="/tic-tac-toe" href="/tic-tac-toe">Tic-Tac-Toe</a></li>
        <li class="nav-item"><a class="nav-link" data-link="/connect-four" href="/connect-four">Connect Four</a></li>
      </ul>
    </div>
  </div>
</nav>